<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Weather Now App</title>
    <link rel="stylesheet" type="text/css" href="/css/custom.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
      <div class="row mt-2">
        <div class="container text-center">
          <h1>Weather Now</h1>
        </div>
        <div class="container text-center">
          <p>Enter a city and get some neat weather details in real-time!</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mx-auto justify-content-center">
          <div class="container col-12 text-center mt-2">
                <fieldset>
                  <form action="/" method="post">
                    <input name="city" type="text" class="ghost-input mt-2" placeholder="" style="text-align: center; width: 50%" required>
                    <br>
                    <input type="submit" class="ghost-button mt-2" value="Get Weather Now" style="cursor: pointer">
                  </form>
                </fieldset>
          </div>
      </div>
    </div>
      <div class="row mx-auto mt-2">
        <div class="container col-12 col-md-4 mt-2">
          <div class="card text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Placeholder</h5>
              <p class="card-text">
                <% if(cityTemp !== null){ %>
                  <p class="weather-item"><%= cityTemp %>&#8457</p>
                <% } %>
                <% if(error !== null){ %>
                  <p><%= error %></p>
                <% } %>
                <br>
                The Current Temperature at
                <% if(cityName !== null){ %>
                  <p><%= cityName %></p>
                <% } %>
                <% if(error !== null){ %>
                  <p><%= error %></p>
                <% } %>
              </p>
            </div>
          </div>
        </div>
        <div class="container col-12 col-md-4 mt-2">
          <div class="card text-center mx-auto" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Placeholder</h5>
              <p class="card-text">
                <% if(cityWind !== null){ %>
                  <p class="weather-item"><%= cityWind %> mph</p>
                <% } %>
                <% if(error !== null){ %>
                  <p><%= error %></p>
                <% } %>
                <br>
                The Current Wind Speed of
                <% if(cityName !== null){ %>
                  <p><%= cityName %></p>
                <% } %>
                <% if(error !== null){ %>
                  <p><%= error %></p>
                <% } %>
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
